@model ListViewModel
@{
    ViewData["Title"] = "Server-Lists Browser";
}

<div class="text-center">
    <h1 class="display-4">You are creating a list!</h1>
</div>

<div>
    <form asp-controller="List" asp-action="Add" method="post">
        Title<input type="text" name="Title" /><br>
        Description<input type="text" name="Description" /><br>
        <input type="hidden" name="PublisherId" />
        AddedOn<input type="datetime-local" name="AddedOn" /><br>
        ServerIds<input type="text" name="ServerIds" /><br>

        <button type="submit">Create</button>
    </form>
</div>

