@model IEnumerable<ServerViewModel>
@{
    ViewData["Title"] = "Servers List";
}

<div class="text-center">
    <h1 class="display-4">There are currently @Model.Count() servers!</h1>
    <a asp-controller="Server" asp-action="Add">Add Server</a>
</div>

<form asp-controller="Server" asp-action="Search" method="post">
    Search: <input type="text" name="Match" /><button type="submit">Search</button><br>
</form>

<br>
<br>

<div>
    @foreach (var thismodel in Model)
    {
        @await Html.PartialAsync("_ServerPartial", thismodel);
        <br>
        <br>
    }
</div>

<a asp-controller="Server" asp-action="About" class="display-4">About</a>
